<%- include('partials/header') %>

<h1>Home</h1>

<p class="intro"><%= starting %></p>

<form action="/compose" method="post">
<button type="button" class="btn btn-secondary btn-lg button"><a href="/compose">Compose your diary entry</a></button>

<!-- <button><</button> -->

<%posts.forEach(function(post){%>
    <h2> <%=  post.title %> </h2>
    <p> 
        <%=  post.content.substring(0,100) + '...' %> 
        <a class="link" href="/posts/<%= post.title %>">Read More</a> 
    </p>
<% }) %>



<%- include('partials/footer') %>